.importance-first {
    background: linear-gradient(to bottom right, #444444, #009a5b);
}

.importance-second {
    background: linear-gradient(to bottom right, #444444, indianred);
}

.importance-third {
    background-color: aqua;
}